<!DOCTYPE HTML>
<html>

<head>
    <title>Job Portal </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    
    <style>
        /* Create three equal columns that floats next to each other */

        .body {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            background-image: "/assets/home bg.jpg";
        }


        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 100%;
            /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .footer {
            text-align: center;
            padding: 3px;
            background-color: black ;
            color: white;
        }
        .about {
            text-align: center;
            padding: 3px;
            background-color: #219F94;
            color: black;
        }

        
    </style>

</head>

<body>





    <section class="home">
        <img src="../../assets/home bg.jpg">

        <div class="homecontent">
            <h1>Your Dream</h1>
            <h2>Job is waiting</h2>
            <a href="#" class="btn btn-lg btn-light">Search Jobs</a> &nbsp;
            <a href="#" class="btn btn-lg btn-primary">Search</a>
        </div>

    </section>
    <!--section class="about">

       
        <div class="container">
            <div class="flex flex-wrap justify-center text-center mb-24">
                <div class="">
                    <h2 class="text-4xl font-semibold">About us</h2>
                    <p class="text-lg leading-relaxed m-4 text-blueGray-500">

                    </p>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                    <div class="px-6">

                        <div class="pt-6 text-center">
                            <h5 class="text-xl font-bold">pooja</h5>
                            <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                                
                            </p>
                            <img src="../../assets/home bg.jpg" height="100px" width="100px">
                            
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">

                    <div class="px-6">

                        <div class="pt-6 text-center">
                            <h5 class="text-xl font-bold">Ramya</h5>
                            <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                               
                            </p>
                           
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                    <div class="px-6">

                        <div class="pt-6 text-center">
                            <h5 class="text-xl font-bold">pooja</h5>
                            <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                                Kiran
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                    <div class="px-6">

                        <div class="pt-6 text-center">
                            <h5 class="text-xl font-bold">jayabarath</h5>
                            <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                                ajeswar
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section-->
  



    <div class="footer">



        <footer class="relative bg-blueGray-200 pt-8 pb-6">
            <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20">
                
            </div>
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap text-center lg:text-left">
                    <div class="w-full lg:w-6/12 px-4">
                        <h4 class="text-3xl font-semibold">Let's keep in touch!</h4>
                        <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
                            Find us on any of these platforms, we respond 1-2 business days.
                        </h5>
                        
                    </div>
                    <div class="w-full lg:w-6/12 px-4">
                        <div class="flex flex-wrap items-top mb-6">
                            <div class="w-full lg:w-4/12 px-4 ml-auto">
                                <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">
                                    Useful Links
                                </span>
                                <ul class="list-unstyled">
                                    <li>
                                        <a
                                            class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                                            Blog
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                                            Github
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">

                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">
                                    Other Resources
                                </span>
                                <ul class="list-unstyled">
                                    <li>
                                        <a
                                            class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">

                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                                            Terms & Conditions
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                                            Contact Us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-6 border-blueGray-300" />
                <div class="flex flex-wrap items-center md:justify-between justify-center">
                    <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                        <div class="text-sm text-blueGray-500 font-semibold py-1">

                            <a class="text-blueGray-500 hover:text-blueGray-800">
                                @Copyrights2022received
                            </a>
                            .
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>